.productsPage {
    width: 1110px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productsContainer {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 30px;
}

.header{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 40px;
}