.form_wrapper {
    margin-top: 80px;
    padding: 32px 32px 0px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    border-radius: var(--radius-big, 12px);
    background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
    overflow: hidden;
}

.form_text {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    line-height: 110%;
    color: var(--txt-white, #FFF);
}

.inform {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    gap: 32px;
}

.discount_img {
    width: 100%;
    object-fit: cover;
}

.discount_input {
    background-color: transparent;
    color: var(--txt-white, #FFF);
}

.discount_input::placeholder {
    color: var(--txt-white, #FFF);
}

.discount_btn{
    background: var(--white, #FFF);
    color: var(--txt-black, #282828);
    transition: background 0.3s, color 0.3s;
}

.discount_btn:hover {
    background: var(--black, #282828);
    color: var(--txt-white, #FFF);
    transition: 0.3s;
    border: none;
}

.discount_btn:active {
    color: var(--green, #393);
    border-radius: var(--radius-small, 6px);
    background: var(--light-grey, #F1F3F4);
}

@media(max-width: 1000px) {
    .form_wrapper {
        margin-top: 60px;
        padding-right: 20px;
        padding-left: 0;
    }

    .inform {
        gap: 20px;
    }
}

@media(max-width: 768px) {
    .form_text {
        font-size: 56px;
    }
}

@media(max-width: 480px) {
    .form_wrapper {
        margin-top: 56px;
        padding: 24px 20px 0px;
    }

    .inform {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .discount_img {
        order: 2;
    }
}

@media(max-width: 360px) {
    .form_text {
        font-size: 40px;
    }
}