@import '../../../style/_variables';

.form_wrapper {

  padding: 32px 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  gap: 24px;
  width: 100%;
  border-radius: 12px;
  background: linear-gradient(261deg, #0b710b 32.63%, #393 98.96%);
  overflow: hidden;

}

.form_text {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 110%;
  color: $txt-white;
}

.inform {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.discount_img {
  object-fit: cover;
  display: flex;
  align-self: flex-end;
  img {
    max-width: 100%;
    height: 100%;
  }
}

.check_block {
  min-width: 40%;
}

.discount_input {

  background-color: transparent;
  color: $txt-white;
  display: flex;
  row-gap: 16px;

}

.discount_input::placeholder {
  color: $txt-white;
}


.discount_btn {
  background: $white;
  color: $txt-black;

}

.discount_btn:hover {
  background: $black !important;
  color: $txt-white !important;
  transition: 0.3s;
  border: none;
}

.discount_btn:active {
  color: $green;
  border-radius: 6px;
  background: $light-grey;
}

@media (max-width: 1000px) {
  .form_wrapper {
    margin-top: 60px;
    padding-right: 20px;
    padding-left: 0;
  }

  .inform {
    gap: 20px;
  }

  .check_block {
    min-width: 50%;
  }
}

@media (max-width: 768px) {
  .form_text {
    font-size: 56px;
  }
}

@media (max-width: 480px) {
  .form_wrapper {
    margin-top: 56px;
    padding: 24px 20px 0px;
  }

  .form_text {
    font-size: 48px;
  }

  .inform {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .discount_img {
    order: 2;
  }

  .check_block {
    min-width: 100%;
  }
}

@media (max-width: 360px) {
  .form_text {
    font-size: 40px;
  }
}
