@import "../../style/variables";

form {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;

  label {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;

    input[type="number"], select {
      border: 1px solid $grey-divider;
      border-radius: 6px;
      padding: 8px 16px;
      width: 112px;
      height: 36px;
      font-size: 15px;

      &::placeholder {
        vertical-align: middle;
        font-weight: 500;
        font-size: 16px;
        line-height: 126%;
        color: $grey;
      }
    }

    &.discount {
      .custom-checkbox {
        display: inline-block;
        width: 36px;
        height: 36px;
        border: 1px solid $grey-divider;
        border-radius: 6px;
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          background-color: $green;
          border-radius: 6px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          transition: transform 0.3s ease;
        }
      }

      input[type="checkbox"] {
        appearance: none;

        &:checked + .custom-checkbox::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    select {
      width: 200px;
      font-weight: 500;
      font-size: 15px;
      line-height: 126%;
    }
  }
}

@media (max-width: 1000px) {
  form{
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 32px;
  }
}

@media (max-width: 480px) {
  form{
    margin-bottom: 24px;
    gap: 16px;
    font-size: 18px;
    label{
      &::placeholder{
        font-size: 14px;
      }
    }
    input, select, .discount{
      height: 34px;
    }
  }

}