.card {
  display: flex;
  border: 1px solid rgb(221, 221, 221);
  min-height: 180px;
  border-radius: 12px;
}

.card .img {
  width: 200px;
  height: auto;
  border-radius: 12px 0 0 12px;
  border-right: 1px solid rgb(221, 221, 221);
}

.topLevel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.header {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  color: var(--txt-black);
}

.deleteButton {
  color: var(--txt-black);
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}

.deleteButton:hover {
  color: red;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #3a3a3a;
  font-weight: 600;
  width: 100%;
  padding: 32px;
}

.countButtonContainer {
   color: var(--txt-black);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 212px;
  min-width: 156px;
  max-width: 212px;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-top: 0.0625rem solid var(--grey-divider,#DDD);
  border-bottom: 0.0625rem solid var(--grey-divider,#DDD);
  height: 100%;
  border-radius: 0.625rem;
  cursor: pointer;
}

.countButton {
  border-top: none;
  border-bottom: none;
  border-left: 0.0625rem solid var(--grey-divider);
  border-right: 0.0625rem solid var(--grey-divider);
  color: var(--txt-grey);
  height: 3.625rem;
  border-radius: 0.625rem;
  cursor: pointer;
  font-size: 2rem;
  min-width: 3.625rem;
}

.countValue {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 58px;
  min-width: 20px;
  max-width: 58px;
  text-align: center;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 32px;
  max-height: 60px;
}

.prices {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.newPrice {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
   color: var(--txt-black);
}

.oldPrice {
  font-size: 15px;
  color: var(--txt-grey);
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

@media screen and (max-width: 1300px) {
  .card {
    height: 226px;
  }
  img {
    height: auto;
  }
  .priceBlock {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .infoBlock {
    padding: 20px;
  }
  .topLevel {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    height: 136px;
  }
  .priceBlock {
    flex-direction: row;
    align-items: center;
  }
  .topLevel {
    margin-bottom: 32px;
  }
  .infoBlock {
    padding: 20px;
  }
  .img {
    height: auto;
    min-width: 200px;
  }
}

@media screen and (max-width: 640px) {
  .card {
    height: 226px;
  }
  .img {
    height: auto;
  }
  .priceBlock {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .infoBlock {
    padding: 20px;
  }
  .topLevel {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 480px) {
  .priceBlock {
    height: 47px;
  }
  .countButtonContainer {
    height: 47px;
  }
  .countButton {
    width: 47px;
    height: 47px;
    min-width: 47px;
  }
  .card .img {
    flex-shrink: 1;
    min-width: 116px;
    width: 100%;
    height: auto;
  }
  .newPrice {
    font-size: 30px;
  }

  .oldPrice {
    font-size: 18px;
  }
  .header {
    font-size: 20px;
  }
}
@media screen and (max-width: 440px) {
  .countButton {
    width: 32px;
    height: 32px;
    min-width: 32px;
    font-size: 22px;
    text-align: center;
  }
  .countButtonContainer {
    height: 32px;
    min-width: 120px;
  }
  .infoBlock {
    flex-shrink: 1;
  }
  .card {
    min-height: 180px;
    min-height: 180px;
     height: 180px;
  }
  .img {
    flex-shrink: 0; 
    width: 180px; 
    min-width: 180px; 
    height: auto;
  }
    .newPrice {
    font-size: 24px;
  }

  .oldPrice {
    font-size: 16px;
  }
  .header {
    font-size: 20px;
  }
}
