.card {
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 55% 40%;
  gap: 5%;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 3%;
  margin-right: 4rem;
}
.icon_button {
  width: 44px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.leftBlock {
  display: flex;
  flex-direction: column;
}

.leftBlock img {
  width: 780px;
  object-fit: cover;
  cursor: pointer;
  height: 572px;
}

.priceBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.priceP {
  color: var(--bg-gray);
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  margin-right: 0.5rem;
}

.oldPriceP {
  color: rgb(139, 139, 139);
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
  align-self: flex-end;
}
.percentDiscount {
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(51, 153, 51);
  align-self: flex-start;
  .percentDiscountP {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 3%;
    text-align: left;
  }
}

.descriptionHeader {
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 130%;
}
.descriptionText {
  color: rgb(40, 40, 40);
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.countButtonContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-top: 1px solid var(--count-grey);
  border-bottom: 1px solid var(--count-grey);
  height: 100%;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
}
.countValue {
  padding: 0 10%;
  color: var(--txt-black);
  font-size: 20px;
}
.countButton {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid var(--count-grey);
  border-right: 1px solid var(--count-grey);
  color: var(--txt-grey);
  height: 58px;
  width: 58px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
}
.addToCartButton {
  flex: 2;
  width: 232px;
  height: 58px;
  border: none;
  background-color: var(--green);
  color: var(--txt-white);
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modalImage {
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .card {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: 46.5% 46.5%;
    gap: 5%;
  }
}
@media screen and (max-width: 768px) {
  .card {
    gap: 3%;
  }
  .rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
  }

  .header {
    font-size: 32px;
  }
  .priceBlock {
    gap: 0.5rem;
  }
  .priceP {
    font-size: 56px;
  }
  .oldPriceP {
    font-size: 32px;
    font-weight: 500;
  }
  .buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
  }
  .countButtonContainer {
    width: 50%;
  }

  .addToCartButton {
    width: 100%;
    padding: 16px 32px;
  }
}
@media screen and (max-width: 480px) {
  .rightBlock {
    position: static;
  }
  .card {
    position: relative;
    margin-top: 80px;
  }
  .header {
    position: absolute;
    top: -70px;
    left: 0;
    margin-right: 40px;
    font-size: 28px;
  }
  .icon_button {
    top: -70px;
    width: 36.67px;
    height: 31.67px;
  }
  .rightBlock,
  .leftBlock {
    height: 179px;
  }
  .rightBlock {
    justify-content: end;
  }
  .priceBlock {
    gap: 0.5rem;
  }
  .priceP {
    font-size: 48px;
  }
  .oldPriceP {
    font-size: 28px;
  }
  .countButtonContainer {
    width: 75%;
    height: 47px;
  }
  .addToCartButton {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
  }
  .percentDiscount {
    display: none;
  }
  .descriptionBlock {
    display: none;
  }
}
