@import '../../style/_variables';

.card {
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto auto;
  gap: 2rem;
}

.leftBlock {
  grid-column: 1/2;
  grid-row: 1/5;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 3%;
}

.icon_button {
  margin-left: 1.25rem;
  border: none;
  height: 48px;
  background-color: transparent;
  flex-shrink: 0;
  cursor: pointer;
  img {
    width: 44px;
    height: 38px;
  }
  &:hover {
    opacity: 0.7;
  }
}

.leftBlock img {
  width: 48.75rem;
  object-fit: cover;
  cursor: pointer;
  height: 35.75rem;
  border-radius: 0.75rem;
}

.priceBlock {
  display: flex;
  align-items: end;
}

.priceP {
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  margin-right: 2rem;
}

.oldPriceP {
  color: $grey;
  font-size: 2.5rem;
  line-height: 130%;
  text-decoration-line: line-through;
  margin-right: 1rem;
}

.percentDiscount {
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  background: $green;
  align-self: flex-start;

  .percentDiscountP {
    color: $txt-white;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 3%;
  }
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    text-decoration: underline;
    font-weight: 500;
    font-size: 1rem;
    color: $black;
  }
}

.descriptionHeader {
  font-weight: 600;
  line-height: 130%;
}

.descriptionText {
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.countButtonContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-top: 0.0625rem solid $grey-divider;
  border-bottom: 0.0625rem solid $grey-divider;
  height: 100%;
  width: 40%;
  border-radius: 0.625rem;
  cursor: pointer;
}

.countValue {
  padding: 0 10%;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
}

.countButton {
  border-top: none;
  border-bottom: none;
  border-left: 0.0625rem solid $grey-divider;
  border-right: 0.0625rem solid $grey-divider;
  color: $txt-grey;
  height: 3.625rem;
  width: 3.625rem;
  border-radius: 0.625rem;
  cursor: pointer;
  font-size: 2rem;
}

.addToCartButton {
  flex: 2;
  width: 14.5rem;
  height: 3.625rem;
  border: none;
  background-color: $green;
  color: $txt-white;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.625rem;
  cursor: pointer;
   transition: background-color 0.3s ease, filter 0.3s ease;
}
.addToCartButton:hover {
  background: $black;
  transform: 0.3s;
 border: 1px solid $txt-white;
}

.addedButton {
  border-radius: 6px;
  background: $light-grey;
  outline: 1px solid $black;
  color: $txt-black;
}

.addedButton:hover {
  border-radius: 6px;
  background: $light-grey;
  outline: 1px solid $black;
  color: $txt-black;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modalImage {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;
}

.discountOnImage {
  display: none;
}

// MEDIA QUERIES

@media screen and (max-width: 1000px) {
  .priceP {
    margin-right: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.25rem;
  }

  .leftBlock {
    grid-column: 1/2;
    grid-row: 1/4;

    img {
      width: 22.125rem;
      max-height: 23.75rem;
    }
  }

  .descriptionBlock {
    grid-column: 1/3;
    grid-row: 4/5;
    gap: 0.75rem;
  }

  .header {
    font-size: 2rem;
  }

  .priceP {
    font-size: 3.5rem;
  }

  .oldPriceP {
    font-size: 2rem;
    font-weight: 500;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: stretch;
  }

  .countButtonContainer {
    width: 12.5rem;
  }

  .addToCartButton {
    width: 100%;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 30rem) {
  .card {
    margin-top: 2rem;
  }

  .icon_button {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 36.25rem) {
  .card {
    margin-bottom: 2.9375rem;
  }

  .leftBlock {
    grid-row: 2/5;
    position: relative;

    img {
      max-height: 11.5625rem;
    }
  }

  .headerContainer {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .priceBlock {
    grid-row: 2/3;
  }
  .buttonsContainer {
    grid-row: 3/4;
  }

  .descriptionBlock {
    grid-column: 1/3;
    grid-row: 5/6;
  }

  .header {
    font-size: 1.75rem;
  }
  .icon_button {
    width: 2.5rem;
    height: 2.1875rem;
  }

  .priceP {
    font-size: 3rem;
  }

  .oldPriceP {
    font-size: 1.75rem;
  }

  .addToCartButton {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
  }

  .countButtonContainer {
    width: 10.25rem;
    height: 2.9375rem;
  }

  .countButton {
    height: 2.9375rem;
  }

  .percentDiscount {
    display: none;
  }

  .discountOnImage {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    background: rgb(51, 153, 51);
  }

  .discountOnImage .discountText {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 3%;
  }
}

@media screen and (max-width: 23.75rem) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
  }

  .leftBlock {
    grid-row: 2;
  }

  .headerContainer {
    grid-row: 1;
  }

  .priceBlock {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonsContainer {
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .descriptionBlock {
    grid-row: 5;
  }
}
