// DiscountPopUp.scss
@import '../../style/_variables';

.discount-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    background-color: $green;
    position: relative;
    padding: 2rem;
    border-radius: 0.75rem;
    max-width: 34.25rem;
    color: $txt-white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
  }

  &__close {
    font-size: 4.0625rem;
    font-weight: 400;
    align-self: start;
    transition: ease-in-out 0.4s;
    &:hover,
    &:focus {
      color: $black;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 110%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__product {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: $white;
    color: $black;
    position: relative;

    img {
      width: 100%;
      height: 17.75rem;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      object-fit: cover;
      overflow: hidden;
      flex-shrink: 1;
    }
  }

  &__img {
    border-bottom: 0.0625rem solid $grey-divider;
  }

  &__discont {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    background-color: $green;
    color: $txt-white;
    font-size: 1.25rem;
    line-height: 130%;
    letter-spacing: 0.03em;
  }

  &__icon {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    border: none;
    height: 3rem;
    background-color: transparent;
    flex-shrink: 0;
    cursor: pointer;
    img {
      width: 2.75rem;
      height: 2.375rem;
      transition: ease-in-out 0.4s;
    }
  }

  &__product-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem 2rem;
  }

  &__product-name {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 130%;
  }

  &__price {
    display: flex;
    gap: 1rem;
  }

  &__product-price {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 130%;
    text-decoration: line-through;
    color: $txt-grey;
    align-self: flex-end;
  }

  &__product-discounted-price {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 110%;
  }

  &__add-to-cart {
    border-radius: 0.375rem;
    padding: 1rem 2rem;
    background-color: $white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 130%;
    text-align: center;
    color: $black;
    border: none;
    transition: ease-in-out 0.4s;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

@media (max-width: 600px) {
  .discount-popup {
    &__content {
      max-width: 470px;
    }

    &__title {
      font-size: 2.25rem;
    }

    &__discont {
      font-size: 1.125rem;
    }

    &__icon {
      img {
        width: 2.5rem;
        height: 2.1875rem;
      }
    }

    &__product-name {
      font-size: 1.125rem;
    }

    &__product-discounted-price {
      font-size: 2.25rem;
    }

    &__product-price {
      font-size: 1.125rem;
    }

    &__add-to-cart {
      font-size: 1.125rem;
    }
  }
}

@media (max-width: 480px) {
  .discount-popup {
    &__content {
      max-width: 350px;
    }
  }
}
