.products_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    height: 458px;
    overflow: hidden;
    border-radius: var(--radius-big, 12px);
    border: 1px solid var(--grey-divider,#DDD);
}

.products_link {
    text-decoration: none;
}

.products_img {
    position: relative;
    height: 320px;
    flex-shrink: 1;
    align-self: stretch;
    object-fit: cover;
    overflow: hidden;
    border-bottom: 1px solid var(--grey-divider, #DDD);
}


.add_btn {
    position: absolute;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
    bottom: 154px;
    opacity: 0;
    transition: 0.3s;
}

.products_wrapper:hover .add_btn {
    opacity: 1;
    transform: 0.3s;
}

.products_information {
    display: flex;
    width: 316px;
    padding: 0px 32px 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.image_container {
    position: relative;

}

.icons_wrapper {
    position: absolute;
    top: 30px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.icon_button {
    border: none;
    width: 5vw;
    background-color: transparent;
    cursor: pointer;
} 

.products_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: var(--txt-black, #282828);
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}

.real_price {
    font-size: 30px;
    font-weight: 600;
    padding-right: 16px;
}

.old_price {
    font-size: 20px;
}

.sale_value {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    left: 16px;
    top: 16px;
}

@media(max-width: 1400px) {
    .products_information {
        padding: 0px 20px 20px 20px;
    }

    .products_wrapper {
        row-gap: 16px;
    }

    .real_price {
        padding-right: 12px;
 
    }
    .products_title  {
        font-size: 18px;
        width: 150px;
    }
}

@media(max-width: 700px) {
    .products_wrapper {
        height: 486px;
    }

    .products_img {
        height: 353px;
    }
    .products_title  {
        font-size: 18px;
        width: 150px;
    }

    .real_price {
        font-size: 25px!important;
    }
    
    .old_price {
        font-size: 20px!important;
    }

  
}







