// font
$main-font: 'Montserrat', sans-serif;

// colors
$green: #393;
$white: #fff;
$black: #282828;
$grey-divider: #ddd;
$grey: #8b8b8b;
$light-grey: #f1f3f4;
$count-grey: #dddddd;

// background
$bg-gray: #404040;

// text colors
$txt-black: #282828;
$txt-white: #fff;
$txt-grey: #8b8b8b;
