@import "variables";

// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

// Form

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

// Common

html,
body {
  font-family: $main-font;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  color: $txt-black;
  width: 100%;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

// MAIN

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

//THEME

.dark {
  background-color: $black;
  color: $txt-white;

  .footer__item {
    background-color: $bg-gray;

    a {
      color: $txt-white;
    }
  }

  .header__menu::before,
  .header__menu::after,
  .header__menu span {
    background-color: $white;
  }
  .sale_value{
    color: $txt-white;
  }
  .products_link{
    color: $txt-white;
  }
  .products_wrapper{
    color: $txt-white;
  }
  .discount_btn{
    color: black;
  }
}

.light {
  background-color: $white;
  color: $txt-black;

  .header__menu::before,
  .header__menu::after,
  .header__menu span {
    background-color: $black;
  }
  
}


