.card {
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 55% 40%;
  gap: 5%;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 3%;
}
.icon_button {
  height: 4vh;
  width: 4vw;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: 50px;
}

.leftBlock {
  display: flex;
  flex-direction: column;
}

.leftBlock img {
  width: 780px;
  object-fit: cover;
  cursor: pointer;
  height: 572px;
}

.priceBlock {
  // width: 200px;
  display: flex;
  flex-direction: row;
  // align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
}

.priceP {
  color: rgb(40, 40, 40);
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  margin-right: 0.5rem;
}

.oldPriceP {
  color: rgb(139, 139, 139);
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
  align-self: flex-end;
}
.percentDiscount {
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(51, 153, 51);
  align-self: flex-start;
  .percentDiscountP {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 3%;
    text-align: left;
  }
}

.descriptionHeader {
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 130%;
}
.descriptionText {
  color: rgb(40, 40, 40);
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.countButtonContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex: 1;
  border: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 100%;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
}
.countValue {
  padding: 0 10%;
  color: #8b8b8b;
}
.countButton {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  color: #8b8b8b;
  height: 58px;
  width: 58px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
}
.addToCartButton {
  flex: 2;
  width: 232px;
  height: 58px;
  border: none;
  background-color: #339933;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modalImage {
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;
}
